@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --text: #6b6375;
  --text-logo: #f3f4f6;
  --bg: #fff;
  --bg-opaque: rgba(255, 255, 255, .5);
  --input-bg: #e5e7eb;
  --frame-bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: "Roboto Mono", ui-monospace, Consolas, monospace;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans);
}

header {
  @apply fixed inset-0 z-50 bottom-auto flex items-center justify-between p-4 bg-indigo-600;

  & > a {
    font-family: var(--mono);
    text-transform: uppercase;
    color: var(--text-logo);
    font-size: 1.2em;
  }
}

.frame {
  @apply flex items-baseline;
  border-radius: 10px;
  border: 1px solid inset var(--grey);
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--frame-bg);
}

.app-input {
  @apply p-2;
  border-radius: 7px;
  background: var(--input-bg);
  color: var(--text);

  &[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
}

label.mandatory::after {
  @apply text-indigo-500 font-bold;
  content: ' *';
}

.app-form-field {
  @apply flex flex-col gap-1;
}

.app-button {
  @apply p-2 text-white bg-indigo-600 inline-block px-4 cursor-pointer;
  border-radius: 7px;

  &.error {
    @apply bg-red-700;
  }

  
  &[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
}

#logs-list > .frame {
  min-height: 100vh;
  font-family: var(--mono);
}

#logs-list-pagination {
  background-color: var(--bg-opaque);
  backdrop-filter: blur(5px);
}

table {
  border-radius: 10px;
}

th {
  @apply font-bold;
  box-shadow: 0 2px 2px 2px rgab(0, 0, 0, 0.7);
}

thead {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

th, td {
  @apply p-2;
  max-height: 50px;
}

td.row-even {
  @apply bg-gray-100;
}

.loading-data-text {
  @apply p-3 my-1 bg-gray-300 block w-full;
  border-radius: 5px;
  animation: loading .8s infinite alternate-reverse;
}
@keyframes loading {
  from { opacity: 1; }
  to { opacity: .5; }
}


@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(0, 0%, 80%);
    --bg: hsl(245, 45%, 15%);
    --bg-opaque: rgb(24, 21, 55, .6);
    --input-bg: hsl(245, 45%, 20%);
    --frame-bg: hsl(245, 45%, 25%);
  }

  td.row-even {
    background-color: hsl(245, 45%, 20%);
  }
}